body {
    font-family: Arial, sans-serif;
    background-color: #ebebee;
    margin: 0;
    padding: 0;
}

header {
    background-color: #0f091b;
    color: white;
    text-align: center;
    padding: 20px;
}


.category {
    color: #6a1b9a; 
    font-weight: bold; 
}


.container {
    margin: 20px;
}

.course-details {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.course-image {
    max-width: 40%;
    border-radius: 10px;
}

.description, .levels, .cost, .comments {
    margin-top: 20px;
}

.level {
    border: 1px solid #c0c0c0;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}
.level h4 {
    color: #350c66; 
}

video {
    width: 100%;
    max-width: 500px; 
    height: auto;
    margin: 20px 0;
}
.modal {
    display: none; 
    position: fixed; 
    z-index: 1000; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.5); 
}

.modal-content {
    background-color: white; 
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888; 
    border-radius: 10px; 
    width: 80%; 
    max-width: 500px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
}

.close {
    color: #aaa; 
    float: right; 
    font-size: 28px; 
    font-weight: bold; 
}

.close:hover,
.close:focus {
    color: black; 
    text-decoration: none; 
    cursor: pointer; 
}


#confirm-purchase {
    display: block; 
    margin: 20px auto 0; 
    padding: 10px 20px; 
    background-color: #482286; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
}

#confirm-purchase:hover {
    background-color: #371868; /
}



.buy-level {
    margin-top: 20px; 
    display: block; 
    width: fit-content; 
    padding: 10px 20px; 
    background-color: #482286; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
}

.buy-level:hover {
    background-color: #371868; 
}



footer {
    text-align: center;
    background-color: #0f091b;
    color: white;
    padding: 10px 0;
    position: relative;
    width: 100%;
}
