/* Asegura que el html y body ocupen el 100% de la altura de la ventana */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* El body usa flexbox para organizar los elementos verticalmente */
body {
    display: flex;
    flex-direction: column;
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

/* El header se mantiene arriba */
header {
    background-color: #2b0347;
    color: white;
    padding: 20px;
    text-align: center;
}

/* El main se expande para ocupar todo el espacio disponible */
main {
    flex: 1; /* Esto hace que el main ocupe el espacio disponible */
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #ffffff;
}

h2 {
    color: #2b0347;
}

.filters {
    margin-bottom: 30px;
}

.filters form {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.form-section {
    flex: 1 1 300px;
}

.kardex-container {
    margin-top: 30px;
}

.kardex-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.kardex-table th, .kardex-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.kardex-table th {
    background-color: #4a116d;
    color: white;
}

.kardex-table td {
    background-color: #f8f8f8;
}

button{
    background-color: #2b0347;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background-color: #4a116d;
}

.dashboard-button{
    background-color: #2b0347;
    color: white;
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.dashboard-button:hover {

    background-color: #4a116d;

}

@media (max-width: 768px) {
    .filters form {
        flex-direction: column;
    }
}

/* El footer se mantiene pegado al final */
footer {
    background-color: #0f091b;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}
