/* Estilos generales */
html, body {
    height: 100%; /* Asegura que el body cubra toda la ventana */
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-image: url('imagenes/fondo.jpg'); /* Ruta relativa a tu archivo CSS */
    background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */
    background-position: center; /* Centra la imagen en el fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-attachment: fixed; /* Fija la imagen mientras se desplaza */
    color: #333;
}

/* Header */
header {
    background-color: #0f091b;
    font-size: 130%;
    color: white;
    padding: 15px 0;
    text-align: center;
}

/* Cuadro de fondo de los datos */
main {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffffff;
    max-width: 500px;
    margin: 40px auto;
    padding: 20px;
    background-color: #0f091b85;
    border-radius: 10px;
    box-shadow: 0 6px 30px rgba(255, 252, 252, 0.637);
}

main h1 {
    text-align: center; /* Centra el texto horizontalmente */
}

/* Estilos para el enlace de registro */
main p a {
    color: #c0a5e7;
    text-decoration: none;
}

main p a:hover {
    text-decoration: underline;
}


form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 10px;
}

form input, form button {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

form button {
    background-color: #482286;
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #371868;
}
