body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f6f6f6;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
}

.navbar a {
    text-decoration: none;
    color: #fff;
}

.search-bar {
    display: flex;
    align-items: center;
    width: 80%;
    min-width: 300px;
    flex-wrap: nowrap;
}

.search-bar input[type="text"] {
    flex-grow: 1;
    padding: 5px;
    font-size: 16px;
    margin-right: 10px;
    min-width: 0;
}

.search-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 5px;
    flex-shrink: 0;
}

#search-icon {
    width: 20px;
    height: 20px;
}

@media (max-width: 400px) {
    .search-bar {
        width: 100%;
    }
}


.user-menu-container {
    position: relative;
}

.user-menu-container:hover #menu-content {
    display: block;
}

#menu-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
}

.account-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.account-menu li {
    margin-bottom: 5px;
}

.left {
    display: flex;
    align-items: center;
}

.right {
    display: flex;
    align-items: center;
}

.fill {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.linea1, .linea2 {
    margin: 5px 0;
}

.logout-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    font-family: Arial;
    color: inherit;
    text-decoration: none;
}
