/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Contenedor de fondo */
.background-container {
background-color: #f0eef3;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Encabezado */
header {
    background-color: #0f091b; /* Fondo con opacidad */
    color: white;
    padding: 20px;
    text-align: center;
}

/* Contenedor principal */
main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Sección de categoría */
.category {
    margin-bottom: 20px;
}

.category h3 {
    margin: 10px 0;
}

/* Botón de volver */
.button-container {
    text-align: center;
}

.btn-back {
    display: inline-block;
    padding: 10px 20px;
    background-color: #2b0347;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-back:hover {
    background-color: #4a116d;
}

/* Footer */
footer {
    text-align: center;
    background-color: #0f091b;
    color: white;
    padding: 10px 0;
    width: 100%;
}
