/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    background-color: #0f091b;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Header */
header {
    background-color: #0f091b;
    font-size: 130%;
    color: white;
    padding: 15px 0;
    text-align: center;
}


/* Cuadro de fondo de los datos */
main {
    font-family:  'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #d3d9dd;
    border-radius: 10px;
    box-shadow: 0 7px 40px rgba(255, 255, 255, 0.459);
}


.users-container {
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.back-button {
    padding: 10px 15px;
    font-size: 16px;
    color: #fff;
    background-color: #4000d7; /* Color azul similar a Windows */
    border: none;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.back-button:hover {
    background-color: #3800a0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}



.filter-container {
    margin-bottom: 20px;
    text-align: center;
}

.filter-container label {
    margin-right: 10px;
    font-size: 16px;
}

.filter-container select {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.users-table {
    width: 100%;
    border-collapse: collapse;
}

.users-table th, .users-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.users-table th {
    background-color: #f0f0f0;
    font-weight: bold;
}

.users-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.users-table tbody tr:hover {
    background-color: #f1f1f1;
}


/* Estilos del pie de página 
footer {
    text-align: center;
    background-color: #0f091b;
    color: white;
    padding: 5px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}*/